 <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('photo-inner.jpg')">
            <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4">NodeJS App Example</h3>
            <p class="lead">Discover the fascinating word of NodeJS</p>
            </div>
        </div>
        </div>
    </div>
</header>
<section class="py-5">
<div class="container">
    <h4 align="center">@Powered by Asier Cidon</h4>
</div>
</section>

